* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  height: 100vh;
}
.container {
  width: 100%;
  height: 100vh;
  transition: .2s;
  overflow: hidden;
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    &__link {
      text-decoration: none;
      font-size: .5rem;
    }
  }
}
.container.light {
  background-color: white;
  .footer__link {
    color: #000000;
  }
}
.container.dark {
  background-color: #26242E;

  .footer__link {
    color: rgba(white, .3);
  }
}
.light {
  color: #26242E;
  .material-icons {
    color: inherit;
    filter: invert(1%);
  }
}
.dark {
  color: white;
  .buttons {
    position: fixed;
    bottom: 2vh;
    left: 50%;
    transform: translate(-50%, -50%);
    .button {
      background-color: transparent;
      border: none;

      .material-icons {
        color: inherit;
        filter: invert(100%);

      }
    }
  }
}

