.main-input {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;


  &__label{
    font-family: 'Poppins', sans-serif;

    font-size: 2rem;
    width: 80%;
    text-align: center;
    color: black;
    mix-blend-mode: darken;
    &--input{


    }

  }
}